.button-register {
    margin-left: .5em;
}

.show-menu {
    display: block;
}

.user-button{
    /*margin-right: .5em;*/
}

.top-row a {
    margin-left: 0;
}

.dropdown-item{
    background-color:white;
}
